<! DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='description' content="{% block meta.description %} {% endblock meta.description %}">
    <meta name="keywords" content="{% block meta.keywords %} {% endblock %}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ru_RU">
    <link rel="icon" href="{% static '/assets/icons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{% static '/assets/icons/apple-touch-icon-precomposed.png' %}">
    <!--[if lte IE 8]><script src="{% static '/assets/js/html5shiv.min.js' %}" type="text/javascript"></script><![endif]-->
    <link rel='stylesheet' href='{% static "/assets/css/main.css" %}' type='text/css'>
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <div id='wrapper'>
      {% block main %}
        <div id='main'>
          {% block topMenu %}
            {% include "./topMenu.html" %}
          {% endblock topMenu %}
          <div class='inner'>
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      {% endblock main %}
      {% block footer %}
        {% include "./footer.html" %}
      {% endblock footer %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
